main {
    background-color: lightgray;
    padding: 1em;
}
header {
    background-color:blue;
    color: azure;
    text-align: center;
}
body {
   background-image: url(record.png);
   margin: 0;
}